---
import SkillsItem from "./SkillsItem.astro";
interface skillProps {
  name: string;
  descriptions: string[];
  icon: string;
}

const skills: Array<skillProps> = [
  {
    name: "Ejecución y Rendición de reportes con informes mensuales",
    descriptions: [
      "Cobro y recaudos de cuotas ordinarias y extraordinarias, multas y morosidad.",
      "Estados financieros.",
      "Supervisión de limpieza y mantenimientos preventivos y correctivos de zonas comunes.",
    ],
    icon: `${import.meta.env.BASE_URL}/images/icons/reports.svg`,
  },
  {
    name: "Supervisión y Coordinación",
    descriptions: [
      "Fumigación.",
      "Limpieza de la piscina.",
      "Mantenimientos, reparaciones y Limpieza de las zonas comunes.",
      "Servicios de jardinería.",
      "Mantenimientos y reparaciones de ascensores.",
    ],
    icon: `${import.meta.env.BASE_URL}/images/icons/test.svg`,
  },
  {
    name: "Supervisión y Reparación de daños menores / mayores en zonas comunes",
    descriptions: [
      "Electricidad, plomería, gas natural, cerrajería, sistema hidráulico, desagües, pintura, impermeabilización de fachadas, reparación de humedades, filtraciones, trabajos en alturas, entre otros más.",
    ],
    icon: `${import.meta.env.BASE_URL}/images/icons/repair.svg`,
  },
  {
    name: "Programa Contable y Administrativo",
    descriptions: [
      "Cuenta con los estándares más altos de calidad, siendo el único sistema de gestión de conjuntos inmobiliarios y PH certificados por normas internacionales de calidad ISO 9001.",
    ],
    icon: `${import.meta.env.BASE_URL}/images/icons/mobile.svg`,
  },
];
---

<section
  id="Servicios"
  class="flex justify-center bg-secondary-950 dark:bg-secondary-900 px-0 pb-16 relative w-full z-30 group scrollIsIn"
>
  <div
    class="transition-opacity opacity-0 group-[.scrollIsIn]:opacity-100 max-w-screen-xl mx-8 items-center justify-between"
  >
    <div class="grid xs:grid-rows-4 md:grid-cols-2 lg:grid-cols-4 gap-8 -mt-10">
      {
        skills.map((skill, index) => (
          <SkillsItem
            icon={skill.icon}
            name={skill.name}
            descriptions={skill.descriptions}
            delay={index * 200}
          />
        ))
      }
    </div>
  </div>
</section>
