---
import TeamItem from "@/components/TeamItem.astro";
interface teamProps {
  name: string;
  description: string;
  image: string;
}

const team: Array<teamProps> = [
  {
    name: "Equipo Administrativo",
    description:
      "Contamos con un Software que simplifica la gestión y comunicaciones, permite llevar un control de mantenimientos, seguros, gestionar reservas de las zonas comunes, manejar actas y documentos de la copropiedad, citofonía virtual, asambleas, votaciones y PQRS.",
    image: `${import.meta.env.BASE_URL}/images/staff-1.webp`,
  },
  {
    name: "Equipo Contable",
    description:
      "Contamos con un programa contable desarrollado especialmente para Propiedades Horizontales, donde se podrán llevar asientos y reportes contables, balances de prueba, estados de situación financiera, estado de resultados, un control de movimientos de fondos y saldos por cuentas, entre muchas cosas más.",
    image: `${import.meta.env.BASE_URL}/images/staff-2.webp`,
  },
  {
    name: "Equipo de Mantenimiento",
    description:
      "Prestamos un servicio de personal de aseo y de mantenimiento y reparación responsable, seguro y altamente capacitado, para el funcionamiento de zonas comunes de redes eléctricas, hidráulicas, pintura, plomería, gas natural, cerrajería, impermeabilización de fachadas, trabajos en alturas, mantenimiento de jardines, piscinas, zonas verdes y más.",
    image: `${import.meta.env.BASE_URL}/images/staff-3.webp`,
  },
];
---

<section
  id="Equipo"
  class="flex justify-center bg-secondary-950 dark:bg-secondary-900 px-0 py-20 relative w-full z-0 group"
>
  <div
    class="transition-opacity opacity-0 group-[.scrollIsIn]:opacity-100 max-w-screen-xl mx-8 items-center justify-between"
  >
    <div class="grid xs:grid-rows-4 md:grid-cols-2 lg:grid-cols-4 gap-8">
      <div class="flex flex-col pt-2 md:pt-10 p-10 w-full max-w-[450px]">
        <h4
          class="text-sm mb-1 font-semibold block uppercase text-primary-500 leading-relaxed"
        >
          Equipo & Personal
        </h4>
        <h2 class="mb-6 font-semibold text-2xl text-white leading-tight">
          Nuestro Equipo de Trabajo
        </h2>
        <p
          class="text-gray-400 font-medium text-base leading-normal text-pretty"
        >
          Velamos por la conservación de la propiedad horizontal, nos destacamos
          de otras empresas porque disponemos de un grandioso personal,
          altamente capacitado, responsable, honesto y siempre dispuesto a dar
          lo mejor.
        </p>
        <img
          class="mt-12 size-38 mx-auto"
          src={`${import.meta.env.BASE_URL}/images/icons/team1.svg`}
        />
      </div>
      {
        team.map((teamItem, index) => (
          <TeamItem
            name={teamItem.name}
            description={teamItem.description}
            image={teamItem.image}
            delay={index * 200}
          />
        ))
      }
    </div>
  </div>
</section>
